* {
    text-align: center;
}

body {
    background-color: bisque;
}

ul,
ol {
    list-style-position: inside;
}

img {
    border-radius: 10px;
}

.ingredients {
    background-color: rgb(152, 255, 255);
    border: 1px solid lightseagreen;
    width: 80%;
    margin: 10px auto;
}

.directions {
    background-color: rgb(152, 255, 255);
    border: 1px solid lightseagreen;
    width: 80%;
    margin:  10px auto;
}

.how-to {
    background-color: rgb(152, 255, 255);
    border: 1px solid lightseagreen;
    width: 80%;
    margin: 10px auto;
}